---
import BaseHead from "../components/BaseHead.astro";
import Logo from "../components/Logo.astro";
// import ThemeToggle from "../components/ThemeToggle.astro";
import NavBar from "../components/NavBar.astro";

import type { ArticleData } from "../components/BaseHead.astro";

interface Props {
    title: string;
    description: string;
    image?: string;
    articleData?: ArticleData;
}

const { title, description, image, articleData } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark h-full">
    <head>
        <BaseHead title={title} description={description} image={image} articleData={articleData} />
    </head>

    <body class="h-full bg-[color:var(--background-color)]">
        <div id="background" class="fixed inset-0 z-[-1] hidden dark:block">
            {
                [
                    { size: "1px", count: 200, duration: "35s" },
                    { size: "2px", count: 75, duration: "30s" },
                    { size: "3px", count: 15, duration: "20s" },
                ].map(({ size, count, duration }) => {
                    const COLORS = ["#fff", "#fff2", "#fff4", "#fff7", "#fffc"];
                    const layer = [];
                    for (let i = 0; i < count; i++) {
                        const color = COLORS[Math.floor(Math.random() * COLORS.length)];
                        const x = Math.floor(Math.random() * 100);
                        const y = Math.floor(Math.random() * 100);
                        layer.push(`${x}vw ${y}vh 0 ${color}, ${x}vw ${y + 100}vh 0 ${color}`);
                    }
                    const boxShadow = layer.join(",");
                    return (
                        <div
                            class="absolute left-0 top-0 animate-moveStars rounded-full bg-white opacity-75"
                            style={`width: ${size}; height: ${size}; box-shadow: ${boxShadow}; --duration: ${duration};`}
                        />
                    );
                })
            }
        </div>
        <div id="content" class="mx-auto flex min-h-screen max-w-5xl flex-col">
            <Logo />
            <div
                class="flex flex-grow flex-col md:flex-col-reverse md:justify-end"
            >
                <slot />
                <NavBar />
            </div>
        </div>
    </body>
</html>
